{{ header }}
<div id="information-information" class="container-fluid content-container">
    <div class="row breadcrumb-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="font16"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="information-item-box">
                        <h3 class="information-title text-uppercase font24">{{ text_contact }}</h3> 
                        <p class="information-content font14">
                            {{text_Whether}}
                        </p>
                    </div>
                    <div class="information-item-box">
                        <h3 class="information-title text-uppercase font24">{{ text_adress }}&nbsp;&nbsp;<img src="/catalog/view/theme/imuto/image/icon/icon-contact-address.png" class="img-responsive" style="top: -4px;position: relative;"></h3>
                        <div class="information-paragraph">
                            <p>
                                {{text_imuto}}
                            </p>
                            <br/>
                            <p>
                                {{text_Office}}
                            </p>
                        </div>
                    </div>
                    <div class="information-item-box">
                        <h3 class="information-title text-uppercase font24">{{ text_email }}&nbsp;&nbsp;<img src="/catalog/view/theme/imuto/image/icon/icon-contact-email.png" class="img-responsive" style="top: -4px;position: relative;"></h3>
                        <div class="information-paragraph">
                            <h4 class="font16 font-bold">
                                iMuto
                            </h4>
                            <p class="font14">
                                {{text_Customer1}}
                            </p>
                        </div>
                        <div class="information-paragraph">
                            <h4 class="font16 font-bold">
                                PHOTOOLEX
                            </h4>
                            <p class="font14">
                                {{text_Customer2}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}