{{ header }}
<div id="information-our-technology" class="container-fluid content-container" style="margin-top: 0;">
  <div class="row page-banner">
    
    {% if lang == en %}
    <img src="/catalog/view/theme/imuto/image/our-technology.jpg" class="img-responsive img-width-full">
    {% else %}
    <img src="/catalog/view/theme/imuto/image/(technology)_jp.jpg" class="img-responsive img-width-full">
    {% endif %}
  </div>
  <div class="row">
    <div class="container">
      <div class="information-technology-item">
        <h3 class="text-uppercase information-technology-item-title">{{ text_display_technology }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/digi-power.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_digi_power_technology }}</p>
            <p>{{ text_digi_power_technology_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/digi-power-II.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_digi_power_ii_technology }}</p>
            <p>{{ text_digi_power_ii_technology_description }}</p>
          </div>
        </div>
      </div>

      <div class="information-technology-item">
        <h3 class="text-uppercase information-technology-item-title">{{ text_fast_charge_technology }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/power-delivery-2.0.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_power_delivery_ii_technology }}</p>
            <p>{{ text_power_delivery_ii_technology_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/im-power.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_im_power_technology }}</p>
            <p>{{ text_im_power_technology_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/im-power-II.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_im_power_ii_technology }}</p>
            <p>{{ text_im_power_ii_technology_description }}</p>
          </div>
        </div>
      </div>

      <div class="information-technology-item">
        <h3 class="text-uppercase information-technology-item-title">{{ text_wireless_technology }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/im-power-air.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_im_power_air_technology }}</p>
            <p>{{ text_im_power_air_technology_description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/turbo-wireless.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p class="font-bold">{{ text_turbo_wireless_technology }}</p>
            <p>{{ text_turbo_wireless_technology_description }}</p>
          </div>
        </div>
      </div>

      <div class="information-technology-item">
        <h3 class="text-uppercase information-technology-item-title">{{ text_multiple_smart_protection_system }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-2 text-center">
            <img src="/catalog/view/theme/imuto/image/technology/smart-protection-system.png" class="img-responsive">
          </div>
          <div class="col-xs-12 col-sm-10">
            <p>{{ text_multiple_smart_protection_system_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}