{{ header }}
<div id="error-not-found" class="container content-container" style="margin-top: 120px;">
  <div class="row">
    <div id="content" class="text-center">
      <p><i class="fa fa-frown-o font60"></i></p>
      <p class="font-bold font16">{{ text_error }}</p>
      <div class="buttons clearfix">
        <a href="{{ continue }}" class="btn btn-purple" style="padding-left: 20px;padding-right: 20px;">{{ button_continue }}</a>
      </div>
    </div>
  </div>
</div>
{{ footer }}
